body {
    background-image: url(https://img.pikbest.com/backgrounds/20191031/beautiful-starry-sky-background-image_2843834.jpg!bw800);
    background-size:contain;
}
.div1 {
    text-align:center;
    margin-top: 50px;
}

.blink {/*閃爍文字*/
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    color: black;
    animation-duration: 2.5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    text-shadow:
    0 0 5px rgb(137, 184, 211),
    0 0 10px rgb(137, 184, 211),
    0 0 20px rgb(137, 184, 211),
    0 0 40px rgb(137, 184, 211);

}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

table {
    border: 2px solid;
    border-color: black;
    table-layout:fixed; /* 表格隨網頁比例縮放*/
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
}

caption {
    caption-side: top;
    text-align:center;
    margin-left:40%;
}

td {
    padding: 20px 20px 20px 20px;
}

img {
    display:block;
    margin:auto;
}



.marqee {
	height: 3em;
    width: 80%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background: black;
}

.marqee > ul {
	padding-left: 0;
	display: flex;
	list-style-type: none;
	animation: marqee 10s linear infinite;
	position: absolute;
}

.marqee > ul > li {
	white-space: nowrap;
	margin-right: 2em;
	font-weight: bold;
	color: yellow;
}

@keyframes marqee {
	0% {
		left: 100%;
		transform: translateX(0%);
	}

	100% {
		left: 0;
		transform: translateX(-100%);
	}
}

.p1 {
    text-align: center;
    padding: 50 50 50 50;
    color: crimson;
    font-size: 20px;
}

#aud {
    position: absolute;
    right:0;
    top:40%;
}

.fp {
    text-align: center;
}
